.toggle{
    width: 100px;
    height: 50px;
    background-color: darkgray;
    padding: 5px;
    border-radius: 25px;
    margin: 15px;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
    transition-property: all

}
.toggle-spinner{

    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    cursor: pointer;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
    transition-property: all;

}
.toggle.active{
    background-color: brown;

}
.toggle-spinner.active{
     transform: translateX(50px);
}